# Jim; Copied this off stack overflow. Not sure about this, does seem to ignore my failing unite tests... Give up!
# Also, I can't get it to run automatically - it can only be triggered from the UI. Shouldn't it run on every commit
# or something?
name: CI pipeline
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml